a {
    color: inherit !important;
    text-decoration: none !important;
}
a:hover{
    color:red !important;
}

body{
    font-family: 'Raleway', sans-serif !important;
    font-size: 20px !important;
}

.github:hover{
    color:#8e44ad !important
}

.linkedin:hover{
    color: #0072b1 !important;
}

.location:hover{
    color: #D44638 !important;
}

.spotify:hover{
    color: #1DB954 !important;
}

.email:hover{
    color: #D44638 !important;
}

@media (max-width: 480px) {
    .logo {
        max-width: 100% !important;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .logo {
        max-width: 70% !important;
    }
}

@media (min-width: 1025px) {
    .logo {
        max-width: 30% !important;
    }
}