a {
    color: inherit !important;
    text-decoration: none !important;
}
a:hover{
    color:red !important;
}

body{
    font-family: 'Raleway', sans-serif !important;
    font-size: 20px !important;
}

.github:hover{
    color:#8e44ad !important
}

.linkedin:hover{
    color: #0072b1 !important;
}

.location:hover{
    color: #D44638 !important;
}

.spotify:hover{
    color: #1DB954 !important;
}

.email:hover{
    color: #D44638 !important;
}