a {
  color: inherit !important;
  text-decoration: none !important;
}
a:hover {
  color: red !important;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 20px !important;
}

.github:hover {
  color: #8e44ad !important;
}

.linkedin:hover {
  color: #0072b1 !important;
}

.location:hover {
  color: #d44638 !important;
}

.spotify:hover {
  color: #1db954 !important;
}

.email:hover {
  color: #d44638 !important;
}

@media (max-width: 480px) {
  .logo {
    max-width: 100% !important;
  }

  .card-image {
    width: 80px !important;
    height: 80px !important;
    align-self: center !important;
  }

  .mongo {
    width: 240px !important;
    height: 120px !important;
    align-self: center !important;
  }

  .django {
    width: 240px !important;
    height: 120px !important;
    align-self: center !important;
  }

  .nodejs {
    width: 240px !important;
    height: 120px !important;
    align-self: center !important;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .logo {
    max-width: 70% !important;
  }

  .card-image {
    width: 48px !important;
    height: 48px !important;
    align-self: center !important;
  }

  .mongo {
    width: 96px !important;
    height: 48px !important;
    align-self: center !important;
  }

  .django {
    width: 96px !important;
    height: 48px !important;
    align-self: center !important;
  }

  .nodejs {
    width: 96px !important;
    height: 48px !important;
    align-self: center !important;
  }
}

@media (min-width: 1025px) {
  .logo {
    max-width: 30% !important;
  }

  .card-image {
    width: 64px !important;
    height: 64px !important;
    align-self: center !important;
  }

  .mongo {
    width: 128px !important;
    height: 64px !important;
    align-self: center !important;
  }

  .django {
    width: 128px !important;
    height: 64px !important;
    align-self: center !important;
  }

  .nodejs {
    width: 128px !important;
    height: 64px !important;
    align-self: center !important;
  }
}

.card {
  transition: 500ms transform;
}

.card:hover {
  transform: scale(1.1);
}
